<footer>
    <div class="containerFooterall">
      <div class="container-body">
        <div class="column1 col-12 col-md-3 ">
          <h1>Datos del creador</h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur tempora architecto lor
          </p>
        </div>
        <div class="column2 col-12 col-md-3">
          <h1>Redes sociales</h1>

          
          <div class="row">
            <a href="" class="twitter"><i class="fab fa-twitter twitter"></i> Twitter</a>
          </div>
          <div class="row">
            <a href="" class="facebook-square"><i class="fab fa-facebook-square facebook"></i> Facebook</a>
          </div>
          <div class="row">
            <a href="" class="instagram"><i class="fab fa-instagram instagram"></i> Intagram</a>
          </div>
        </div>
        <div class="column3 col-12 col-md-3">
          <h1 class="demo">Información de contacto</h1>
          <div class="row2">
            <a href="">email:info@mysite.com</a>
          </div>
          <div class="row2">
            <a href="">email:info@mysite.com</a>
          </div>
        </div>
        <div class="column3 col-12 col-md-3">
          <h1>SiteMap</h1>
            <a href="/siteMap">abc</a>
                     
        </div>
      </div>
      <div class="container-footer">

        <div class="information">

          <a href="">Terminos y condiciones</a>
          <a href="">Privación y Politica</a>
          <a href="">Politica de cokiees</a>
          <a href="">Notificaciones de Copyright</a>
        </div>
        <div class="copyright">
          <p>Copyright © 2020-2020 S.L. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
    </div>
  </footer>
  </html>
  