<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/d302e505c7.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
    integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.gstatic.com">

  <title>STOPCovid</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<section class="container cajaFormulario">
        
    <article class="formulario">
        <form action="/users/registro" method="POST" enctype="multipart/form-data" id="idFormulario">
            <i class="far fa-user icono"></i>
            <h5>Registro de usuario</h5>
            <div class="row">
                <div class="col-1"><i class="fas fa-envelope"></i></div>
                <div class="col-11"><input class="form-control" placeholder="Email" name="email" id="idEmail">
                    <small class="text-danger"> </small>
                    <div id="errEmail" class=""></div>
                </div>
            </div>
            <div class="row">
                <div class="col-1"><i class="fas fa-lock"></i></div>
                <div class="col-11"><input class="form-control " type="password" placeholder="Contraseña" name="password" id="idPass">
                <small class="text-danger"> </small>
                <div id="errPass"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-1"><i class="fas fa-lock"></i></div>
                <div class="col-11"><input class="form-control " type="password" placeholder="Repetir contraseña" name="password2" id="idPass2">
                    <small class="text-danger"> </small>
                    <div id="errPass2"></div>
                </div>
            </div>
            <h6>Información Personal</h6>
            <div class="row">
                <div class="col-1"><i class="fas fa-user"></i></div>
                <div class="col-11"><input class="form-control" type="text" placeholder="Nombre" name="nombre" id="idNombre">
                <small class="text-danger"> </small>
                <div id="errName"></div>
                </div>  
            </div>   
            <div class="row">
                <div class="col-1"><i class="fas fa-user"></i></div>
                <div class="col-11"><input class="form-control " type="text" placeholder="Apellido" name="apellido" id="idApellido">
                <small class="text-danger"> </small>
                <div id="errApe"></div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-1"><i class="fas fa-portrait"></i></div>
                <input type="file" style="margin-top: 18px; margin-left: 15px;" name="avatar" onchange="validarImagen(this);">
                <small class="text-danger"> </small>
            </div> 
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>

        <p>
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            ¿Porque debo registrarme?
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
            </div>
          </div>
    </article>
</section>