<%-include("./partials/head.ejs")%>
<%- include("./partials/header.ejs")%> 



<body>
    <main>
      <div class="titulo">
        <h2>Recursos de información COVID-19 - Argentina</h2>
      </div>
      <div class="banner">
        <img class="bannerI " src="../images/arg-covid-19-banner.jpg" alt="">
      </div>
      <h3>¿Que es Covid-19?</h3>
      <p>La COVID‑19 es la enfermedad infecciosa causada por el coronavirus que se ha descubierto más recientemente. Tanto
        este nuevo virus como la enfermedad que provoca eran desconocidos antes de que estallara el brote en Wuhan (China)
        en diciembre de 2019. Actualmente la COVID‑19 es una pandemia que afecta a muchos países de todo el mundo.
        Es muy diferente a los brotes estacionales de gripe que se producen todos los años y más peligroso que estos, por
        varios motivos. En primer lugar, pueden pasar hasta 14 días antes de que una persona presente síntomas, en lugar
        de los dos días que suele tardar en manifestarse la gripe. Esto significa que una persona puede estar propagando
        el virus durante dos semanas sin saberlo.
  
        Además, el coronavirus se propaga con facilidad cuando una persona tose y despide pequeñas gotas que contienen el
        virus, que luego ingresan en el organismo de otras personas a través de la boca, la nariz o los ojos. Por último,
        el COVID-19 tiene una tasa de mortalidad de entre el 1 % y el 3 %, mucho más elevada que la de la gripe, lo que le
        confiere capacidad para sobrecargar los sistemas de salud.
      </p>
      <h3>Noticias</h3>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="Noticia">
              <figure class="d-flex justify-content-center d-flex align-items-center">
                <img src="">
              </figure>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, ipsum. Eveniet molestias blanditiis
                architecto. Assumenda nesciunt quaerat non. Tempora necessitatibus et nesciunt, sit quod amet eligendi
                vitae eos explicabo architecto.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="Noticia">
              <figure class="d-flex justify-content-center d-flex align-items-center">
                <img src="">
              </figure>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, ipsum. Eveniet molestias blanditiis
                architecto. Assumenda nesciunt quaerat non. Tempora necessitatibus et nesciunt, sit quod amet eligendi
                vitae eos explicabo architecto.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="Noticia">
              <figure class="d-flex justify-content-center d-flex align-items-center">
                <img src="">
              </figure>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, ipsum. Eveniet molestias blanditiis
                architecto. Assumenda nesciunt quaerat non. Tempora necessitatibus et nesciunt, sit quod amet eligendi
                vitae eos explicabo architecto.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="Noticia">
              <figure class="d-flex justify-content-center d-flex align-items-center">
                <img src="">
              </figure>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, ipsum. Eveniet molestias blanditiis
                architecto. Assumenda nesciunt quaerat non. Tempora necessitatibus et nesciunt, sit quod amet eligendi
                vitae eos explicabo architecto.</p>
            </div>
          </div>
  
        </div>
      </div>
  
      <h3>Prevención</h3>
      <div class="container ImgFondo">
        <div class="row raw">
  
          <div class="cajaM col-6 col-md-4"></div>
  
          <div class="cajaM col-6 col-md-4"></div>
  
          <div class="cajaM col-6 col-md-4"></div>
  
          <div class="cajaM col-6 col-md-4 "></div>
  
          <div class="cajaM col-6 col-md-4 "></div>
  
          <div class="cajaM col-6 col-md-4 "></div>
  
        </div>
      </div>
      <h3>Últimas estadísticas</h3>
      <div class="conteiner">
        <div class="row">
          <div class="cuadro">
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias cupiditate delectus doloribus
              doloremque, facere velit quibusdam suscipit ipsum? Possimus, commodi in!</P>
          </div>
        </div>
      </div>
  
  
    </main>
  
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
  </body>
  
  </html>



<%-include("./partials/footer.ejs")%>
