<%-include("./partials/head.ejs")%>
<%- include("./partials/header.ejs")%> 
<body>
  <div class="banner">
    <img src="../images/rere.jpg" alt="">
  </div>

  <main class="container">
        <div class="titulo">
          <h1>Recursos de información COVID-19 </h1>
        
        </div>
      
        <div class="caja1">

          <div class="img1 col-12 col-lg-6">
            <img src="../images/oc.jpg" alt="">
          </div>
          <div class="info col-12 col-lg-6">
          <h3>Que es Covid-19</h3>
              <p>La COVID‑19 es la enfermedad infecciosa causada por el coronavirus que se ha descubierto más recientemente. Tanto
                este nuevo virus como la enfermedad que provoca eran desconocidos antes de que estallara el brote en Wuhan (China)
                en diciembre de 2019.
              </p>
      
          </div>
          </div>
          <div class="general3">

            <div class="cajag3 col-12 col-lg-7">
              
              <img src="../images/two.jpg" alt="">
            </div>

            <div class="cajag4 col-12 col-lg-4">
              <h3 class="titulo2">Información   </h3>
                  <a href=""><div class="boton1 ">
                  <h4>Vacunas <span class="flaticon-flecha-apunta-a-la-derecha"></span></h4>
                  </div> 
                  <p>Quienes deben aplicarse la vacuna</p></a>
                  <a href=""><div class="boton1">
                    <h4>Cuarentena <span class="flaticon-flecha-apunta-a-la-derecha"></span></h4>
                  </div><p>Personas con riesgo mayor</p></a>
                  <a href=""><div class="boton1">
                    <h4> Últimos datos<span class="flaticon-flecha-apunta-a-la-derecha"></span></h4>
                  </div><p>Lo que hay que saber</p></a>
            </div>
          
            </div>


          </div>

          <div class="container-fluid general2">
            <div class="row iconos">
              <div class="icono col-6 col-lg-3">
                <span class="flaticon-hospital"></span><p>Hospitales cercanos</p>
              </div>
              <div class="icono col-6 col-lg-3">
                <span class="flaticon-mascara"></span><p>Uso de barbijo</p>
              </div>
              <div class="icono col-6 col-lg-3"><span class="flaticon-seguro"></span><p>Detección covid</p>
              </div>
              <div class="icono col-6 col-lg-3"><span class="flaticon-coronavirus"></span><p>Prevención</p>
              </div>
            </div>
            </div>
            <div class="container-fluid general">
              
                <div class="cajag1 col-12 col-lg-4">
                  <h2 class="titulo2"> Su salud </h2>
                  
                  <a href=""><div class="boton1"> 
                  
                  <h4>Síntomas <span class="flaticon-flecha-apunta-a-la-derecha"></span></h4>
                  
                  <p>Cuando preocuparse</p></a>
                </div> 
                  <a href=""><div class="boton1">
                    <h4>Prevención <span class="flaticon-flecha-apunta-a-la-derecha"></span></h4>
                  </div><p>Todos los cuidados</p></a>
                  <a href=""><div class="boton1">
                    <h4>Tratamientos <span class="flaticon-flecha-apunta-a-la-derecha"></span></h4>
                  </div><p>Que se debe hacer</p></a>
                
                </div>
                <div class="cajag2 col-12 col-lg-7">
                  <img src="../images/img23.jpg" alt="">
                </div>
        <div class=" estadísticas ">
          
          <div class="cajag5 col-12 col-lg-2">
            <img src="../images/argentina.png" alt="">
          </div>
          
          <div class="cajaBotones col-12 col-lg-7">
            <div class="union">
            <div class="largo col-12"><h2>Gráficos estadísticos</h2></div>
            <button type="button" class="btn btn-outline-primary">Seguimiento de el Covid-19</button>
            <button type="button" class="btn btn-outline-primary">Por ciudad</button>
            <button type="button" class="btn btn-outline-primary">Global</button>
            <button type="button" class="btn btn-outline-primary">Hoy</button>

          </div>
            

          </div>
        </div>

          <h2>Ultimas Noticias</h2>

        <div class="row">
          <div class="col-md-6 col-lg-3">

            <div class="Noticia">
              <figure class="d-flex justify-content-center d-flex align-items-center">
                <img src="">
              </figure>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, ipsum. Eveniet molestias blanditiis
                architecto. Assumenda nesciunt quaerat non. Tempora necessitatibus et nesciunt, sit quod amet eligendi
                vitae eos explicabo architecto.</p>
            </div>

          </div>

          <div class="col-md-6 col-lg-3">

            <div class="Noticia">

              <figure class="d-flex justify-content-center d-flex align-items-center">
                <img src="">
              </figure>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, ipsum. Eveniet molestias blanditiis
                architecto. Assumenda nesciunt quaerat non. Tempora necessitatibus et nesciunt, sit quod amet eligendi
                vitae eos explicabo architecto.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="Noticia">
              <figure class="d-flex justify-content-center d-flex align-items-center">
                <img src="">
              </figure>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, ipsum. Eveniet molestias blanditiis
                architecto. Assumenda nesciunt quaerat non. Tempora necessitatibus et nesciunt, sit quod amet eligendi
                vitae eos explicabo architecto.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="Noticia">
              <figure class="d-flex justify-content-center d-flex align-items-center">
                <img src="">
              </figure>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, ipsum. Eveniet molestias blanditiis
                architecto. Assumenda nesciunt quaerat non. Tempora necessitatibus et nesciunt, sit quod amet eligendi
                vitae eos explicabo architecto.</p>
            </div>
          </div>
          <div class="lineas col-12 ">
            <div class="divisor2 col-6" ></div>
            <div class="divisor3 col-6"></div>
        </div>
        
      </main>    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
  </body>
  
  </html>

<%-include("./partials/footer.ejs")%>
