<%-include("./partials/head.ejs")%>
<%- include("./partials/header.ejs")%> 
<body>
    <main class="container">
      <div class="titulo">
        <h1>Recursos de información COVID-19 </h1>
      </div>

      <div class="banner">
        <img class="bannerI " src="../" alt="">
      </div>

      <div class="row">

        <div class="caja1">

          <div class="img1 col-6">
            <img src="../images/oc.jpg" alt="">
          </div>
          <div class="info col-6">
          <h3>Que es Covid-19</h3>
              <p>La COVID‑19 es la enfermedad infecciosa causada por el coronavirus que se ha descubierto más recientemente. Tanto
                este nuevo virus como la enfermedad que provoca eran desconocidos antes de que estallara el brote en Wuhan (China)
                en diciembre de 2019.
              </p>
      
          </div>
          </div>
        </div>
        



      <h3>Noticias</h3>

      

        <div class="row">

          <div class="col-md-6 col-lg-3">

            <div class="Noticia">
              <figure class="d-flex justify-content-center d-flex align-items-center">
                <img src="">
              </figure>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, ipsum. Eveniet molestias blanditiis
                architecto. Assumenda nesciunt quaerat non. Tempora necessitatibus et nesciunt, sit quod amet eligendi
                vitae eos explicabo architecto.</p>
            </div>

          </div>

          <div class="col-md-6 col-lg-3">

            <div class="Noticia">

              <figure class="d-flex justify-content-center d-flex align-items-center">
                <img src="">
              </figure>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, ipsum. Eveniet molestias blanditiis
                architecto. Assumenda nesciunt quaerat non. Tempora necessitatibus et nesciunt, sit quod amet eligendi
                vitae eos explicabo architecto.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="Noticia">
              <figure class="d-flex justify-content-center d-flex align-items-center">
                <img src="">
              </figure>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, ipsum. Eveniet molestias blanditiis
                architecto. Assumenda nesciunt quaerat non. Tempora necessitatibus et nesciunt, sit quod amet eligendi
                vitae eos explicabo architecto.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="Noticia">
              <figure class="d-flex justify-content-center d-flex align-items-center">
                <img src="">
              </figure>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, ipsum. Eveniet molestias blanditiis
                architecto. Assumenda nesciunt quaerat non. Tempora necessitatibus et nesciunt, sit quod amet eligendi
                vitae eos explicabo architecto.</p>
            </div>
          </div>
        </div>
  
        </div>
      </div>
  
    </main>
  
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
  </body>
  
  </html>



<%-include("./partials/footer.ejs")%>
