<%-include("./partials/head.ejs")%>
<%- include("./partials/header.ejs")%>
<body>
  <div class="imgPrevention">
    <h1>Prevención de el Covid-19</h1> 
  </div>
    <div class="container ">
      <div class="sub-info">
        <div class="prevencion">
        <h2>De dónde proviene?</h2>
        <p>Los primeros casos fueron reportados en la ciudad de Wuhan (China) que concentra más 90% de casos de esta enfermedad en el mundo. Actualmente se conocen casos en algunas zonas de Tailandia, Japón, Corea del Sur, Italia, España, Irak, Francia, Estados Unidos, México, Brasil, Ecuador, Chile, Perú, entre otros países.</p>
        </div>
        <div class="prevencion">
          <img src="../images/china.png" alt="">
        </div>
      </div>

      <div class="sub-info">
        
          <div class="prevencion">
            <img src="../images/tratmi.png" alt="">
          </div>
          <div class="prevencion">
        <h2>Como se transmite</h2>
        <p>Se transmite de persona a persona a través de gotitas que expulsa una persona enferma al hablar, toser o estornudar. Las gotitas pueden ser inhaladas por las personas que están cerca al enfermo y también quedarse en cualquier tipo de superficie (pasamanos, mesas, lapiceros, entre otros) y ser tocadas por las manos. El virus ingresa a nuestro organismo cuando nos tocamos los ojos, la nariz y la boca con las manos sin lavar.</p>
        </div>
      </div>

      <div class="sub-info">            
        <div class="prevencion">
        <h2>Distanciamiento social</h2>
        <p>El distanciamiento social, también llamado "distanciamiento físico", consiste en mantener una distancia segura entre usted y otras personas que no pertenecen a su hogar.

          Para poner en práctica el distanciamiento físico o social, manténgase a una distancia de al menos 6 pies (la longitud aproximada de 2 brazos extendidos) de las demás personas que no son miembros de su hogar, tanto en espacios interiores como al aire libre.</p>
        </div>
        <div class="prevencion">
          <img src="../images/distancia.png" alt="">
        </div>
      </div>

      <div class="sub-info">
          <div class="prevencion">
            <img src="../images/manos.png" alt="">
          </div>
          <div class="prevencion">
        <h2>Lavado de manos</h2>
        <p>Para evitar la propagación de gérmenes, incluido el COVID-19, los CDC recomiendan lavarse las manos con agua y jabón siempre que sea posible porque reduce la cantidad de muchos tipos de gérmenes y sustancias químicas presentes en las manos. Pero si no dispone de agua y jabón, usar un desinfectante de manos con al menos un 60 % de alcohol puede ayudarle a evitar enfermarse y propagar gérmenes a otras personas.</p>
        </div>
      </div>
      <div class="sub-info">
        <div class="prevencion">
        <h2>Más información</h2>
        <p>Las medidas deben ser adoptadas como prácticas estándar para la prevención de infecciones respiratorias tales como gripe, coronavirus, entre otros, que se transmiten por gotas de saliva al hablar, toser y estornudar; y que contaminan superficies y objetos en un área de circunferencia de aproximadamente un metro. </p>
        </div>
        <div class="prevencion">
  
<iframe width="560" height="315" src="https://www.youtube.com/embed/tiWMjqkKqyQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
 </body>
<%-include("./partials/footer.ejs")%>
