<%-include("./partials/head.ejs")%>
<%- include("./partials/header.ejs")%>
<body>
  <div class="imgPrevention">
    <h1>Síntomas de el Covid-19</h1> 
  </div>
    <div class="container ">
      <div class="sub-info">
        <div class="prevencion">
        <h1>Sintomas más comunes:</h1>
        </div>
        <div class="prevencion">
          <img src="../images/cuidado.jpg" alt="">
        </div>
      </div>

      <div class="sub-info">
        
          <div class="prevencion">
            <img src="../images/tos2.png" alt="">
          </div>
          <div class="prevencion">
        <h2>Tos seca</h2>
        <p>En general, la tos por coronavirus es seca y persistente. La tos seca o no productiva es aquella que no produce expectoración y puede llegar a impedir a una persona respirar con normalidad. De hecho, este síntoma suele ir acompañado de sensación de falta del aire, y si coincide con fiebre -un síntoma clave también en pacientes con Covid-19, es importante estar pendiente.</p>
        </div>
      </div>

      <div class="sub-info">            
        <div class="prevencion">
        <h2>Fiebre</h2>
        <p>Fiebre y Covid-19: por qué estar ahora atentos desde los 37 ºC

          durante esta pandemia de Covid-19 hay que estar atento desde el momento en el que suba la temperatura más allá de los 37 C. "Los parámetros no han cambiado, hablamos de febrícula cuando la temperatura corporal se encuentra entre 37C y 37,8C, una elevación de la temperatura superior a 37,8 se define como fiebre
          
          </p>
        </div>
        <div class="prevencion">
          <img src="../images/images.png" alt="">
        </div>
      </div>

      <div class="sub-info">
        
        <div class="prevencion">
          <img src="../images/cansancio.png" alt="">
        </div>
        <div class="prevencion">
      <h2>Cansancio</h2>
      <p> El cansancio, síntoma que experimenta la gran mayoría de los pacientes que padecen coronavirus, implica la falta de fuerzas y una causa común son las infecciones bacteriales y virales, crónicas o agudas (como el COVID-19).</p>
      </div>
    </div>

    <div class="sub-info">
      <div class="prevencion">
      <h1>Sintomas más graves:</h1>
      </div>
      <div class="prevencion">
        <img src="../images/tratamiento.jpg" alt="">
      </div>
    </div>

    <div class="sub-info">
      
        <div class="prevencion">
          <img src="../images/respirar.png" alt="">
        </div>
        <div class="prevencion">
      <h2>Dificultad para respirar</h2>
      <p>Alrededor de 1 de cada 5 personas que contraen el virus acaba presentando un cuadro grave y experimenta dificultades para respirar. Y esto se debe a un compromiso pulmonar.
        “Lo más común es hacer un cuadro gripal, es decir, sentir dolor de cabeza y corporal, fiebre, tos, congestión nasal o dolor de garganta, que dura entre dos semanas y no pasa a mayores. Sin embargo, entre un 10% y 20% de los casos pueden complicarse a neumonía y, por lo tanto, la función de oxigenar el aire por parte de los pulmones se ve afectada.</p>
      </div>
    </div>

    <div class="sub-info">            
      <div class="prevencion">
      <h2>Dolores en el pecho</h2>
      <p>Dolores musculares o en el pecho, pueden ser indicios de covid-19.</p>
      </div>
      <div class="prevencion">
        <img src="../images/descarga.jpg" alt="">
      </div>
    </div>
      <div class="sub-info">
        <div class="prevencion">
        <h2 style="color:black">Más información</h2>
        <p>Si presentas síntomas graves, busca atención médica inmediata. Sin embargo, siempre debes llamar a tu doctor o centro de atención sanitaria antes de presentarte en el lugar en cuestión.
          Lo recomendable es que las personas que sufran síntomas leves y tengan un buen estado de salud general se confinen en casa.
          De media, las personas que se contagian empiezan a presentar síntomas en un plazo de 5 a 6 días desde que se infectan, pero pueden tardar hasta 14. </p>
        </div>
        <div class="prevencion">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/U7I3GPK9g40" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
 </body>
<%-include("./partials/footer.ejs")%>
