img {
    width: 100px;
}
header {
    font-size: 20px;    
}
#navbarDropdown{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 22px;  
}
.demo :hover {
    color: blue;
}

.BotonHeader {
    
    color: black;
}
.BotonHeader :hover {
    color: blue;
}
.BotonInvitado {
    background-color: black;
    border-radius: 20px;
}
