body {
  margin-bottom: 40px;
  font-family: "Roboto Condensed", sans-serif;
  
}


.titulo h1 {
  margin-bottom: 10px;
  font-size: 40px ;
}´


.banner {
  text-align: center;
}
.bannerI {
  width: 100%;
  height: 350px;
  border: 1px solid black;
  margin-top: 10px;

}


.caja1{
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;

   }

   .img1{
    display: flex;
    flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; 


}
.img1 img{
  width: 100%;
  height: 100%;
  
  }
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}




h3 {
  margin: 30px 0px 30px 0px;
}


.Noticia {
  border: 1px solid silver;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  height: 600px;
  margin-bottom: 10px;
  color: black;
  overflow: hidden;
}
.Noticia h1 {
  font-size: 15px;
  font-family: Roboto-Condensed;
}
.Noticia figure {
  border: 1px solid silver;
  height: 300px;
  overflow: hidden;
}
.Noticia .margenDeBoton {
  margin-left: 5px;
}




/*buscador*/
.cajaBuscador {
  border: 1px solid silver;
  border-radius: 5px;
  padding-top: 4px;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
}
.cajaBuscador input {
  margin: 0;
  border: 0;
  border-right: 1px solid silver;
  height: 30px;
  width: 87%;
  outline: none;
  padding-left: 10px;
  background-color: #ebebeb;
}
.cajaBuscador button {
  margin: 0;
  border: 0;
  margin-left: 5px;
  background-color: white;
  background-color: #ebebeb;
}
.cajaBuscador button i {
  padding: 0;
}
